body{
background-color:#C5C1C0;
}
p {
font-family: "Times";
font-size: 16px;
color: white
}
h1{
font-weight: bold;
color: #0A1612
}
h2{
font-weight: bold;
color: #0A1612
}
h3{
font-weight: bold;
color: ##F7CE3E
}

table{
  background-color: #328CC1 !important;
  color: white !important
}

.intro{
background-color: #1A2930;
color: white;
}
.gauge{
background-color: #F7CE3E !important;
}
.checkbox{
color:white;
}
.state_map{
display: inline-block;
}

div.center{
float: left;
height: 100px;
}
div.sidebar{
float:left;
margin-right: -100px;
width: 100px;
}

.attendees{
padding-top: 100px;
background-color: #F7CE3E;
}
