/* Based on color scheme found here--- # 46 https://www.canva.com/learn/website-color-schemes/ */

body{
background-color:#F7F5E6;
}
p {
font-family: "Times";
font-size: 16px;
color: #333A56
}

h1{
font-weight: bold;
color: #52658F
}
h2{
font-weight: bold;
color: #52658F
}
h3{
font-weight: bold;
color: #333A56
}

table{
  background-color: #333A56 !important;
  color: #E8E8E8 !important
}

.text{
background-color: #E8E8E8
}

.checkbox{
color:white;
}
.state_map{
display: inline-block;
}

div.center{
float: left;
height: 100px;
}
div.sidebar{
float:left;
margin-right: -100px;
width: 100px;
}

